@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
    background: rgb(2,0,43);
    background: linear-gradient(37deg, rgba(2,0,43,1) 7%, rgba(10,10,47,1) 45%, rgba(69,33,131,1) 81%, rgba(62,28,117,1) 100%);
}

<<<<<<< HEAD
.btn_entrar {
    all: unset;
    background-color: rgb(76, 38, 143);
    color: aliceblue;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 25px;
    transition: all 0.5s ease;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn_entrar:hover {
    background-color: #280550;
    color: #ffffff; 
}

=======
>>>>>>> 042f0d4e45cb9e28a14987a3da9a730ec29ba31d
.btn_cadastro {
    all: unset;
    background-color: transparent;
    color: white;
<<<<<<< HEAD
    border: 2px solid #800080;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 25px;
    transition: all 0.8s ease; /* Velocidade ajustada para o efeito de zoom */
=======
    border: 2px solid #800080; /* Contorno roxo */
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
>>>>>>> 042f0d4e45cb9e28a14987a3da9a730ec29ba31d
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
<<<<<<< HEAD
}

/* Efeito de zoom no hover */
.btn_cadastro:hover {
    background-color: #E6E6FA;
    color: #3a033a; 
    border-color: #800080;
    transform: scale(1.2); /* Aumenta o botão em 10% */
}

h5{
    color: rgb(238, 221, 248);
}

footer .nav.flex-column .nav-link {
    color: rgb(96, 98, 100) !important; /* Substitua pela cor desejada */
}

/* Estilo hover para o link */
footer .nav.flex-column .nav-link:hover {
    color: rgb(238, 221, 248) !important; /* Substitua pela cor desejada */
}


/* Altera a cor do texto nos links da navbar */
.navbar .navbar-nav .nav-link {
    color: #4B0082; /* Escolha sua cor aqui, por exemplo, roxo escuro */
    transition: color 0.3s;
}

/* Altera a cor do texto do link ativo */
.navbar .navbar-nav .nav-link.active {
    color: #6A0DAD; /* Cor diferente para o item ativo */
}

/* Altera a cor do texto do dropdown */
.navbar .dropdown-menu .dropdown-item {
    color: #4B0082; /* Cor para o texto do dropdown */
}

/* Hover para mudar a cor dos links */
.navbar .navbar-nav .nav-link:hover,
.navbar .dropdown-menu .dropdown-item:hover {
    color: #800080; /* Muda a cor ao passar o mouse */
=======

}

.btn_cadastro:hover {
    background-color: #E6E6FA; /* Roxo claro */
    color: #800080; /* Texto roxo */
    border-color: #800080;
>>>>>>> 042f0d4e45cb9e28a14987a3da9a730ec29ba31d
}
