
.form{
    justify-content: space-around;
    align-items: center;
    background-color: rgb(181, 221, 255);
    width: 500px;
    height: 500px;
    padding: 30px;
    border-radius: 5%;
}


