
.form{
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-right: 200px;
    background-color: rgb(181, 221, 255);
    width: 500px;
    height: 500px;
    padding: 30px;
    border-radius: 5%;
}

img{
    margin-left: 200px;
}

