{% extends 'base.html' %}
{% load static %}
{% block titulo %} Cadastro {% endblock %}
{% block conteudo %}

<div class="container border border-3 border-primary border-opacity-10 rounded-5 mb-5 mt-5 w-25 bg-white bg-opacity-10" style="color: aliceblue;">

    <div class="container col-6 mt-5 "></div>
        <div class="container text-center">
            <h1>Adicionar Projeto/Repositório</h1>
        </div>
        <form class="mt-5" action="{% url 'cadastrar_curso' %}" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <label class="form-label">Nome do Projeto</label>
            {{form.nome_curso}}
            <label class="form-label">Autor</label>
            {{form.autor}}
            <label class="form-label">Duração</label>
            {{form.duracao}}
            <label class="form-label">Preco</label>
            {{form.preco}}
            <label class="form-label">Estoque</label>
            {{form.estoque}}
            <label class="form-label">Foto</label>
            <br>
            {{form.foto}}
            <div class="d-flex justify-content-center mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-primary w-50 bg-white bg-opacity-10 rounded-5 mb-3">
            </div>
        </form>    
    </div>
</div>
{% endblock %}

