
{% extends 'base.html' %}
{% load static %}
{% block titulo %} HOME {% endblock %}

{% block conteudo %}
<main class="d-flex justify-content-center align-items-center text-center" style="min-height: 80vh;">
    <div class="d-flex flex-column align-items-center">
        <h1 style="color: aliceblue;">
            Compartilhe seus projetos do GitHub. 
        </h1>
        <h2 style="color: aliceblue;">
            Seja encontrado por recrutadores.
        </h2>
        <img src="https://readme-typing-svg.herokuapp.com?font=Rubik&size=40&duration=1500&pause=1000&color=CCD4F7&width=240&height=100&lines=R%C3%A1pido.;F%C3%A1cil.;Gratuito.;Cadastre-se" alt="Typing SVG">       
        <div class="form mt-4">
            <a type="button" class="btn_cadastro" href="{% url 'cadastrar_user' %}">Começar agora</a>
        </div>
    </div>
</main>



{% endblock %}